streamlit==1.32.0
llama-index-core
llama-index-llms-google-genai
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-readers-file
sentence-transformers
nest-asyncio
chromadb
llama-parse
docx2txt
pysqlite3-binary
numpy<2.0.0
